In [2]:
import pandas as pd
alunosDIC = {'nome':['Ricardo', 'Pedro', 'Roberto', 'Carlos'],
         'Nota':[4,7,5.5,9],
         'Aprovado':['Não','Sim','Não','Sim']}
alunosDF = pd.DataFrame(alunosDIC)

In [3]:
print(alunosDF)

      nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não
3   Carlos   9.0      Sim

In [4]:
alunosDF.head()

      nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não
3   Carlos   9.0      Sim

In [5]:
alunosDF.shape

(4, 3)

In [6]:
alunosDF.describe()

           Nota
count  4.000000
mean   6.375000
std    2.136001
min    4.000000
25%    5.125000
50%    6.250000
75%    7.500000
max    9.000000

In [7]:
alunosDF['nome']

0    Ricardo
1      Pedro
2    Roberto
3     Carlos
Name: nome, dtype: object

In [8]:
#loc é utilizado para pesquisar indices, utilizando [x:y] ou [[0,1,3]]
alunosDF.loc[0:2]

      nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não

In [9]:
#utilizado para filtrar apenas a coluna nome é puxar apenas um dado especifico
alunosDF.loc[alunosDF['nome']=='Pedro']

    nome  Nota Aprovado
1  Pedro   7.0      Sim

In [10]:
#outro ex:
alunosDF.loc[alunosDF['Aprovado']== 'Sim']

     nome  Nota Aprovado
1   Pedro   7.0      Sim
3  Carlos   9.0      Sim

In [14]:
primeiraslinhas = alunosDF.loc[0:1]

In [15]:
print(primeiraslinhas)

      nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim

In [19]:
novoDF = alunosDF.loc[alunosDF['Nota'] != 9]

In [20]:
print(novoDF)

      nome  Nota Aprovado
0  Ricardo   4.0      Não
1    Pedro   7.0      Sim
2  Roberto   5.5      Não

In [21]:
alunosreprovados = alunosDF.loc[alunosDF['Aprovado']!= 'Sim']

In [22]:
print(alunosreprovados)

      nome  Nota Aprovado
0  Ricardo   4.0      Não
2  Roberto   5.5      Não

In [23]:
alunosaprovados = alunosDF.loc[alunosDF['Aprovado']== 'Sim']

In [24]:
print(alunosaprovados)

     nome  Nota Aprovado
1   Pedro   7.0      Sim
3  Carlos   9.0      Sim